.app__chat_area {
    display: flex;
    flex-direction: column;
    background: white;

    img {
        margin-top: 10px;
        height: 75px;
        width: 75px;
        align-self: center;
        border-radius: 50%;
    }

    &::after {
        content: '';
        height: 5vh;
    }
}

