$button-width: 3.8rem;
$bottom-spacing: 10px;
.app__chatbox {
    textarea {
        background: #f9fbfc;
        color: black;
        font-family: "Maven Pro";
        bottom: $bottom-spacing;

        border: none;
        position: fixed;
        left: 0.5rem;
        right: $button-width;
        min-width: 82.5vw;
        border-radius: 20px;
        height: 3rem;
        padding: 1rem 0.5rem 0.5rem 1rem;
        box-shadow: 0 0 30px rgba(20 20 20 / 0.2);

        outline: none;
        resize: none;
        transition: all 0.3s ease-in-out;
    

        &:hover {
            box-shadow: 0 0 30px rgba(1 1 1 / 0.1);
        }

        &:focus {
            height: 9vh;
        }

    }

    button {
        position: fixed;
        right: 0.5rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        outline: none;
        border: none;
        color: #16a25a;
        background: #7effbc9e;
        backdrop-filter: blur(1.5rem);
        box-shadow: 0 0 30px rgba(1 1 1 / 0.1);

        display: flex;
        justify-content: center;
        align-items: center;
        transition: font-size 0.3s ease;
        bottom: $bottom-spacing;

        svg {
            font-size: larger;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
