.app__chat_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    img {
        margin-top: 10px;
        height: 75px;
        width: 75px;
        align-self: center;
        border-radius: 50%;
    }

    .app__chat_feed {
        display: flex;
        flex-direction: column;
    }

    .app__chat_bottom {
        width: 100%;
        height: 10vh;
        // height: calc( 10 * env(keyboard-inset-height));
    }
}

